<template>
<section class="content">
  <div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cadastre seu funcionário</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" @submit.prevent="save">
          <div class="form-group"><label class="col-sm-2 control-label">Dados Pessoais</label>
  
            <div class="col-sm-10 form-group">
              <input v-model="funcionario.nome" type="text" id="nome" placeholder="Nome" class="form-control">
              <div class="row">
                <div class="col-md-6"><input v-model="funcionario.rg" id="rg" type="text" placeholder="RG" class="form-control"></div>
                <div class="col-md-6"><input v-model="funcionario.cpf" id="cpf" type="text" v-mask="'###.###.###-##'" placeholder="CPF" class="form-control"></div>
                <div class="col-md-6"><input v-model="funcionario.celular" id="celular" type="text" v-mask="'(##) #####-####'" placeholder="Celular" class="form-control"></div>
                <div class="col-md-6"><input v-model="funcionario.dataNascimento" id="dataNascimento" type="text" v-mask="'##/##/####'" placeholder="Nascimento" class="form-control"></div>
                <div class="col-md-6"><input v-model="funcionario.cargo" id="ocupacao" type="text" placeholder="Ocupação" class="form-control"></div>
                <div class="col-md-6">
                  <select v-model="funcionario.estadoCivil" id="estadoCivil" class="form-control">
                    <option selected="true" disabled>Estado Civil</option>
                    <option value="Solteiro">Solteiro</option>
                    <option value="Casado">Casado</option>
                    <option value="Divorciado">Divorciado</option>
                    <option value="Viúvo">Viúvo</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <select v-model="funcionario.sexo" id="sexo" class="form-control">
                    <option selected disabled>Sexo</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
  
          <div class="hr-line-dashed"></div>
            <input type="name" hidden id="empresa_id" v-model="usuario.empresa_id">  

          <div class="form-group"><label class="col-sm-2 control-label">Dados de acesso</label>
            <div class="col-sm-10 form-group">
            <input v-model="funcionario.email" type="email" id="email" placeholder="E-mail" class="form-control">

              <input v-model="funcionario.senha" type="password" id="senha" placeholder="Senha" class="form-control">
            </div>
          </div>

          <div class="box-footer">
            <div class="col-md-4 col-md-offset-10">
              <button class="btn btn-white" type="reset">Cancelar</button>
              <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
          </div>
        </form>
          </div>
  </div>
  </div>
</section>
</template>

<script>
export default {
  name: "cadastrarFuncionario",
  data: function() {
    return {
      funcionario: {}
    };
  },
  computed: {
      usuario () {
        return this.$store.state.usuario.usuarioList
    }
    
  },
  methods: {
    save() {
        //console.log(this.usuario.empresa_id)
        this.funcionario['empresa_id'] = this.usuario.empresa_id
        this.$store.dispatch('newFuncionario', this.funcionario).then(() =>{
            this.$router.push('/funcionarios')
        })
    }
  }
};
</script>

<style>

</style>
