<template>
<section class="content">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista de funcionários</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody><tr>
                  <th>CPF</th>
                  <th>Nome</th>
                  <th>Cargo</th>
                </tr>
                <tr v-for="funcionario in funcionarios.funcionarios.data" :key="funcionario.id">
                  <td>{{funcionario.nome}}</td>
                  <td>{{funcionario.email}}</td>
                  <td>{{funcionario.cargo}}</td>
                </tr>
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <a href="#/funcionario/cadastrar"><button class="btn btn-primary pull-right">Cadastrar</button></a>
</section>
</template>

<script>
import Pagination from './../SharedComponents/Pagination'
export default {
  name: 'ListarFuncionarios',
  methods: {
    listarFuncionario: function (id) {
      this.$router.push('/funcionarios')
    }
  },
  computed: {
    funcionarios () {
      return this.$store.state.funcionario.funcionarioList
    }
  },
  created () {
    this.$store.dispatch('getFuncionarios')
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
tbody tr {
  cursor: pointer
}
</style>
