<template>
<div class="hold-transition login-page" id="login"> 
  <div class="login-box">
  <div class="login-logo">
    <a href=""><b>Doc</b>HELP</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Cadastre sua empresa</p>

    <form @submit.prevent="save">
      <div class="form-group has-feedback">
        <input v-model="empresa.nome" type="text" class="form-control" placeholder="Nome">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input v-model="empresa.email" type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input v-mask="'##.###.###/####-##'" v-model="empresa.cnpj" type="text" class="form-control" placeholder="CNPJ">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Cadastrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
</div>
</template>

<script>
import Vue from 'vue'

export default {
    name: 'cadastrarEmpresa',
    data: function () {
        return{
            empresa: {}
        }
    },
    methods: {
        save: function (){        
        Vue.http.post('api/empresas', this.empresa)

        }
        
    }
}
</script>


<style>
#login{
    background-color: #eee !important;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    padding: 20px;
}
</style>
