<template>
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">
          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../../../static/img/avatar5.png" alt="User profile picture">

              <h3 class="profile-username text-center">{{paciente.data.nome}}</h3>

              <p class="text-muted text-center"></p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Última consulta</b> <a class="pull-right">01/01/2018</a>
                </li>
                <li class="list-group-item">
                  <b>Próxima consulta</b> <a class="pull-right">05/01/2018</a>
                </li>
                <li class="list-group-item">
                  <b>Médico responsável</b> <a class="pull-right">{{paciente.data.medicoResponsavel}}</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Marcar Retorno</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Sobre o paciente</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Ocupação</strong>

              <p class="text-muted">
                {{paciente.data.ocupacao}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Estado Civil</strong>

              <p class="text-muted">{{paciente.data.estadoCivil}}</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Médico responsável</strong>
              <p class="text-muted">{{paciente.data.medicoResponsavel}}</p>


              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Peso</strong>

              <p class="text-muted">{{paciente.data.peso}}</p>
              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Altura</strong>

              <p class="text-muted">{{paciente.data.altura}}</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Avaliações</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
           <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Avaliações Fisioterapeuticas</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tbody><tr>
                  <th>Data da avaliação</th>
                  <th>Ações</th>
                </tr>
                <tr v-for="avaliacao in avaliacoesFisioterapeuticas.data" :key="avaliacao.id"  @click="listarPaciente(paciente.id)">
                  <td>{{ avaliacao.created_at | moment("DD/MM/YYYY") }}</td>
                  <td><a href="">Ver</a></td>
                </tr>
              </tbody>
              </table>
              <input type="button" class="btn btn-default btn-sm pull-right" @click="cadastrarAvaliacaoFisioterapeutica(paciente.data.id)" value="Nova avaliação">
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-primary box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Avaliações Posturais</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <tbody><tr>
                  <th>Data da avaliação</th>
                  <th>Ações</th>
                </tr>
                <tr v-for="avaliacao in avaliacoesPosturais.data" :key="avaliacao.id"  @click="listarPaciente(paciente.id)">
                  <td>{{ avaliacao.created_at | moment("DD/MM/YYYY") }}</td>
                  <td><a href="">Ver</a></td>
                </tr>
              </tbody>
              </table>
              <input type="button" class="btn btn-default btn-sm pull-right" @click="cadastrarAvaliacaoPostural(paciente.data.id)" value="Nova avaliação">
            </div>
            <!-- /.box-body -->
          </div>
          </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
</template>

<script>
export default {
  name: "ExibirPaciente",
  computed: {
    paciente () {
      return this.$store.state.paciente.pacienteView
    },
    avaliacoesPosturais () {
      return this.$store.state.paciente.avaliacaoPosturalList
    },
    avaliacoesFisioterapeuticas () {
      return this.$store.state.paciente.avaliacaoFisioterapeuticaList
    }
  },
  methods: {
    cadastrarAvaliacaoPostural: function (idPaciente) {
      this.$router.push('/avaliacoes/avaliacaoPostural/cadastrar/' + idPaciente)
    },
    cadastrarAvaliacaoFisioterapeutica: function (idPaciente) {
      this.$router.push('/avaliacoes/avaliacaoFisioterapeutica/cadastrar/' + idPaciente)
    }
  },
  created () {
    this.$store.dispatch('getPaciente', this.$route.params.id)
    this.$store.dispatch('getAvaliacoesPosturais', this.$route.params.id)
    this.$store.dispatch('getAvaliacoesFisioterapeuticas', this.$route.params.id)
  }
};
</script>

