<section class="content">
    <div class="row">
    <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3>{{titulo_header}}</h3>
      </div>
      <div class="box-body">
        <form class="form-horizontal" @submit.prevent="save">
          <div class="form-group"><label class="col-sm-2 control-label">Dados Pessoais</label>
  
            <div class="col-sm-10 form-group">
              <input v-model="paciente.nome" type="text" id="nome" placeholder="Nome" class="form-control">
              <div class="row">
                <div class="col-md-6"><input v-model="paciente.rg" id="rg" type="text" placeholder="RG" class="form-control"></div>
                <div class="col-md-6"><input v-model="paciente.cpf" id="cpf" type="text" v-mask="'###.###.###-##'" placeholder="CPF" class="form-control"></div>
                <div class="col-md-6"><input v-model="paciente.celular" id="celular" type="text" v-mask="'(##) #####-####'" placeholder="Celular" class="form-control"></div>
                <div class="col-md-6"><input v-model="paciente.dataNascimento" id="dataNascimento" type="text" v-mask="'##/##/####'" placeholder="Nascimento" class="form-control"></div>
                <div class="col-md-6"><input v-model="paciente.ocupacao" id="ocupacao" type="text" placeholder="Ocupação" class="form-control"></div>
                <div class="col-md-6">
                  <select v-model="paciente.estadoCivil" id="estadoCivil" class="form-control">
                    <option selected="true" disabled="disabled">Estado Civil</option>
                    <option value="Solteiro">Solteiro</option>
                    <option value="Casado">Casado</option>
                    <option value="Divorciado">Divorciado</option>
                    <option value="Viúvo">Viúvo</option>
                  </select>
                </div>
              </div>
              <input v-model="paciente.email" type="email" id="email" placeholder="E-mail" class="form-control">
            </div>
          </div>
  
          <div class="hr-line-dashed"></div>
  
          <div class="form-group"><label class="col-sm-2 control-label">Endereço</label>
            <div class="col-sm-10 form-group">
              <input v-model="paciente.rua" type="text" id="rua" placeholder="Rua" class="form-control">
              <input v-model="paciente.bairro" type="text" id="bairro" placeholder="Bairro" class="form-control">
              <div class="row">
                <div class="col-md-6"><input v-model="paciente.cidade" id="cidade" type="text" placeholder="Cidade" class="form-control"></div>
                <div class="col-md-6"><input v-model="paciente.estado" id="estado" type="text" placeholder="Estado" class="form-control"></div>
              </div>
            </div>
          </div>
  
          <div class="hr-line-dashed"></div>
          <div class="form-group"><label class="col-sm-2 control-label">Dados Médicos</label>
  
            <div class="col-sm-10 form-group">
              <input v-model="paciente.medicoResponsavel" type="text" id="medicoResponsavel" placeholder="Médico Responsável" class="form-control">
              <input v-model="paciente.atividadeFisica" type="text" id="atividadeFisica" placeholder="Atividade Física" class="form-control">
              <input v-model="paciente.medicacao" type="text" id="medicacao" placeholder="Medicação" class="form-control">
  
              <div class="row">
                <div class="col-md-6"><input v-model="paciente.peso" id="peso" type="text" placeholder="Peso" class="form-control"></div>
                <div class="col-md-6"><input v-model="paciente.altura" id="altura" type="text" placeholder="Altura" class="form-control"></div>
              </div>
            </div>
          </div>
          <input type="name" hidden id="empresa_id" v-model="usuario.empresa_id">  
          <div class="box-footer">
            <div class="col-md-4 col-md-offset-10">
              <button class="btn btn-white" type="reset">Cancelar</button>
              <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  
  </section>