<template>
<section class="content">
<div class="box">
            <div class="box-header">
              <h3 class="box-title">Lista de pacientes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody><tr>
                  <th>CPF</th>
                  <th>Nome</th>
                  <th>Médico Responsável</th>
                </tr>
                <tr v-for="paciente in pacientes.pacientes.data" :key="paciente.id"  @click="listarPaciente(paciente.id)">
                  <td>{{paciente.cpf}}</td>
                  <td>{{paciente.nome}}</td>
                  <td>{{paciente.medicoResponsavel}}</td>
                </tr>
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <a href="#/pacientes/cadastrar"><button class="btn btn-primary pull-right">Cadastrar</button></a>
</section>
</template>

<script>
import Pagination from './../SharedComponents/Pagination'
export default {
  name: 'ListarPaciente',
  methods: {
    listarPaciente: function (id) {
      this.$router.push('/pacientes/' + id)
    }
  },
  computed: {
    pacientes () {
      return this.$store.state.paciente.pacienteList
    }
  },
  created () {
    this.$store.dispatch('getPacientes')
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
tbody tr {
  cursor: pointer
}
</style>
