<template>
<section class="content">
  <div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" @submit.prevent="save">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Anamnese</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2">Teste de Mobilidade Global</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3">Exame Físico</a></li>
        </ul>
      
        <div class="tab-content">       

          <div id="tab-1" class="tab-pane active">
            <div class="form-group">
              <div class="panel-body">
                <div class="row">
                <div class="col-md-12">
                      <textarea rows="2" id="queixaPrimaria" v-model="avaliacaoFisioterapeutica.queixaPrimaria" placeholder="Queixa Primária" class="form-control m-b"></textarea>
                  <textarea rows="2" id="queixaSecundaria" v-model="avaliacaoFisioterapeutica.queixaSecundaria" placeholder="Queixa Secundaria" class="form-control m-b"></textarea>
                  <textarea rows="2" id="historicoDoencaAtual" v-model="avaliacaoFisioterapeutica.historicoDoencaAtual" placeholder="História da Doença Atual" class="form-control m-b"></textarea>
                  <textarea rows="2" id="patologiasAssociadas" v-model="avaliacaoFisioterapeutica.patologiasAssociadas" placeholder="Patologias Associadas" class="form-control m-b"></textarea>
                  <textarea rows="1" id="tipoDor" v-model="avaliacaoFisioterapeutica.tipoDor" placeholder="Tipo de dor" class="form-control m-b"></textarea>
                  <textarea rows="1" id="fatoresDor" v-model="avaliacaoFisioterapeutica.fatoresDor" placeholder="Fatores que pioram ou aliviam a dor" class="form-control m-b"></textarea>
                  <textarea rows="1" id="limitaDor" v-model="avaliacaoFisioterapeutica.limitaDor" placeholder="O que a dor limita na sua vida" class="form-control m-b"></textarea>
                  <textarea rows="1" id="locaisDor" v-model="avaliacaoFisioterapeutica.locaisDor" placeholder="Locais de dor" class="form-control m-b"></textarea>
                  <textarea rows="1" id="nivelDor" v-model="avaliacaoFisioterapeutica.nivelDor" placeholder="Nível de dor" class="form-control m-b"></textarea>                </div>
    </div>
            </div>
          </div>
          </div>
          <div id="tab-2" class="tab-pane">
            <div class="form-group">
              <div class="panel-body">
                <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                      <textarea rows="1" id="flexao" v-model="avaliacaoFisioterapeutica.flexao" placeholder="Flexão" class="form-control m-b"></textarea>
                  <textarea rows="1" id="extensao" v-model="avaliacaoFisioterapeutica.extensao" placeholder="Extensão" class="form-control m-b"></textarea>
                  <textarea rows="1" id="lateroflexaoEsquerda" v-model="avaliacaoFisioterapeutica.lateroflexaoEsquerda" placeholder="Lateroflexão Esquerda" class="form-control m-b"></textarea>
                  <textarea rows="1" id="lateroflexaoDireita" v-model="avaliacaoFisioterapeutica.lateroflexaoDireita" placeholder="Lateroflexão Direita" class="form-control m-b"></textarea>
                  <textarea rows="1" id="rotacaoEsquerda" v-model="avaliacaoFisioterapeutica.rotacaoEsquerda" placeholder="Rotação Esquerda" class="form-control m-b"></textarea>
                  <textarea rows="1" id="rotacaoDireita" v-model="avaliacaoFisioterapeutica.rotacaoDireita" placeholder="Rotação Direita" class="form-control m-b"></textarea>
                  <textarea rows="1" id="planoEscapular" v-model="avaliacaoFisioterapeutica.planoEscapular" placeholder="Plano Escapular" class="form-control m-b"></textarea>
                  <textarea rows="1" id="auscultaGeral" v-model="avaliacaoFisioterapeutica.auscultaGeral" placeholder="Ausculta Geral" class="form-control m-b"></textarea>
                  <textarea rows="1" id="auscultaLocal" v-model="avaliacaoFisioterapeutica.auscultaLocal" placeholder="Ausculta Local" class="form-control m-b"></textarea>
                  <textarea rows="1" id="musculosTensao" v-model="avaliacaoFisioterapeutica.musculosTensao" placeholder="Músculos em Tensão" class="form-control m-b"></textarea>
                  <textarea rows="1" id="articulacoesDisfuncao" v-model="avaliacaoFisioterapeutica.articulacoesDisfuncao" placeholder="Articulações em disfunção" class="form-control m-b"></textarea>                    </div>
                </div>
    </div>
            </div>
          </div>
          </div>
          <div id="tab-3" class="tab-pane">
            <div class="form-group">
              <div class="panel-body">
                <div class="row">
                <div class="col-md-12">
                    <textarea rows="3" id="palpacaoEstatica" v-model="avaliacaoFisioterapeutica.palpacaoEstatica" placeholder="Palpação Estática - esclerótomos, dermátomos e miótomos" class="form-control m-b"></textarea>
                  <textarea rows="3" id="testesOrtopedicos" v-model="avaliacaoFisioterapeutica.testesOrtopedicos" placeholder="Testes Ortopédicos/ Testes Osteopáticos" class="form-control m-b"></textarea>
                  <textarea rows="3" id="grauForcaReflexo" v-model="avaliacaoFisioterapeutica.grauForcaReflexo" placeholder="Graus de Força e Reflexos" class="form-control m-b"></textarea>
                  <textarea rows="3" id="examesComplementares" v-model="avaliacaoFisioterapeutica.examesComplementares" placeholder="Exames Complementares" class="form-control m-b"></textarea>                </div>
    </div>
            </div>
            <div class="col-md-4 col-md-offset-10">
                  <button class="btn btn-white" type="reset">Cancelar</button>
                  <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
          </div>
          
          </div>
      </div>
        </div>
    </form>
  </div>
  </div>
</section>
</template>

<script>
export default {
  name: "cadastrarAvaliacaoFisioterapeutica",
  data: function() {
    return {
      avaliacaoFisioterapeutica: {}
    };
  },
  computed: {
    paciente() {
      return this.$store.state.paciente.pacienteView;
    }
  },
  methods: {
    save() {
        this.avaliacaoFisioterapeutica['paciente_id'] = this.paciente.data.id

      //console.log(this.avaliacaoPostural)
      this.$store
        .dispatch("newAvaliacaoFisioterapeutica", this.avaliacaoFisioterapeutica)
        
    }
  }
};
</script>

<style>

</style>
