<template>
<section class="content">
  <div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" @submit.prevent="save">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#tab-1"> Anamnese</a></li>
          <li class=""><a data-toggle="tab" href="#tab-2">Postural Estática</a></li>
          <li class=""><a data-toggle="tab" href="#tab-3">Posturodinâmica</a></li>
          <li class=""><a data-toggle="tab" href="#tab-4">Captor Podal</a></li>
          <li class=""><a data-toggle="tab" href="#tab-5">Aparelho Manducatório</a></li>
          <li class=""><a data-toggle="tab" href="#tab-6">Cicatrízes Patológicas</a></li>
        </ul>
      
        <div class="tab-content">
          <div id="tab-1" class="tab-pane active">
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Motivo da Consulta</label>
                    <div class="col-md-10">
                      <textarea required rows="2" v-model="avaliacaoPostural.motivoConsulta" id="motivoConsulta" placeholder="Motivo da Consulta" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Sintomalogia Secundária</label>
                    <div class="col-md-10">
                      <textarea required rows="2" v-model="avaliacaoPostural.sintomalogiaSecundaria" id="sintomalogiaSecundaria" placeholder="Sintomalogia Secundária" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">História da Doença Anterior</label>
                    <div class="col-md-10">
                      <textarea required rows="2" v-model="avaliacaoPostural.historicoDoencaAtual" id="historicoDoencaAtual" placeholder="História da Doença Anterior" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Antecedentes Cirúrgicos</label>
                    <div class="col-md-10">
                      <textarea required rows="2" v-model="avaliacaoPostural.antecedentesCirurgicos" id="antecedentesCirurgicos" placeholder="Antecedentes Cirúrgicos" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <div class="form-group"><label class="col-md-2 control-label">Destro ou Canhoto</label>
                          <div class="col-md-10">
                              <select required v-model="avaliacaoPostural.destroCanhoto" id="destroCanhoto" class="form-control" data-placeholder="Destro ou Canhoto">
                                  <option>Selecione uma opção</option>
                                  <option value="Destro">Destro</option>
                                  <option value="Canhoto">Canhoto</option>
                              </select>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Tratamentos Anteriores</label>
                    <div class="col-md-10">
                      <textarea required rows="2" v-model="avaliacaoPostural.tratamentosAnteriores" id="tratamentosAnteriores" placeholder="Tratamentos Anteriores" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Tratamentos Atuais</label>
                    <div class="col-md-10">
                      <textarea required rows="2" v-model="avaliacaoPostural.tratamentosAtuais" id="tratamentosAtuais" placeholder="Tratamentos Atuais" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Tratamento Dentário</label>
                    <div class="col-md-10">
                      <select required multiple class="form-control" data-placeholder="Tratamento Dentário" v-model="avaliacaoPostural.tratamentoDentario"> id="tratamentoDentario[]">
                        <option value="Grande tratamento dentário">Grande tratamento dentário</option>
                        <option value="Amálgamas dentárias">Amálgamas dentárias</option>
                        <option value="Coroas dentárias">Coroas dentárias</option>
                        <option value="Ortodontia">Ortodontia</option>
                        <option value="Aperta os dentes">Aperta os dentes</option>
                        <option value="Range os dentes">Range os dentes</option>
                      </select>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Tem dores</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.temDores" id="temDores[]" class="form-control" multiple data-placeholder="Tem dores">
                        <option value="Temporas">Temporas</option>
                        <option value="Nuca">Nuca</option>
                        <option value="Face">Face</option>
                      </select>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Dores mais frequentes</label>
                    <div class="col-md-10">
                      <select required class="form-control" multiple data-placeholder="Dores mais frequentes" v-model="avaliacaoPostural.doresFrequentes" id="doresFrequentes[]">
                        <option value="Pela manhã - sistema manducatório">Pela manhã - sistema manducatório</option>
                        <option value="Final do dia - captor podal">Final do dia - captor podal</option>
                        <option value="A noite - captor ocular">A noite - captor ocular</option>
                        <option value="Todo o dia - captor podal">Todo o dia - captor podal</option>
                      </select>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Escala visual analógica-EVA</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.escalaVisualAntologica" id="escalaVisualAntologica" class="select2_demo_3 form-control" data-placeholder="Escala visual analógica - EVA">
                        <option>Selecione uma opção</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                      </select>
                    </div>
                  </div>
                </div>
          </div>
          </div>

          <div id="tab-2" class="tab-pane">
            <div class="form-group">
              <div class="panel-body">
                <div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Plano Sagital</label>
                  
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.planoSagital" id="planoSagital" class="select2_demo_3 form-control" data-placeholder="Plano Sagital">
                        <option disabled selected>Selecione uma opção</option>
                        <option value="Plano Escapular Anterior">Plano Escapular Anterior</option>
                        <option value="Plano Escapular Posterior">Plano Escapular Posterior</option>
                        <option value="Plano Alinhado">Plano Alinhado</option>
                        <option value="Diminuição de Curva">Diminuição de Curva</option>
                        <option value="Aumento da Curva">Aumento da Curva</option>

                      </select>
                    </div>
                  </div>
                </div>
                </div>

<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Flechas</label>
                    <div class="col-md-10">
                      <textarea required rows="3" v-model="avaliacaoPostural.flechaOccipital" id="flechaOccipital" placeholder="Flecha Occipital" class="form-control m-b"></textarea>
                      <textarea required rows="3" v-model="avaliacaoPostural.fechaCervical" id="fechaCervical" placeholder="Flecha Cervical" class="form-control m-b"></textarea>
                      <textarea required rows="3" v-model="avaliacaoPostural.flechaDorsal" id="flechaDorsal" placeholder="Flecha Dorsal" class="form-control m-b"></textarea>
                      <textarea required rows="3" v-model="avaliacaoPostural.flechaLombar" id="flechaLombar" placeholder="Flecha Lombar" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Plano Frontal</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.planoFrontalOmbro" id="planoFrontalOmbro[]" class="form-control" multiple data-placeholder="Báscula de ombro">
                        <option value="Báscula de ombro - Direito">Báscula de ombro - Direito</option>
                        <option value="Báscula de ombro - Esquerdo">Báscula de ombro - Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.planoFrontalPelve" id="planoFrontalPelve[]" class="select2_demo_3 form-control" multiple data-placeholder="Báscula de pelve">
                        <option value="Báscula de ombro - Direito">Báscula de ombro - Direito</option>
                        <option value="Báscula de ombro - Esquerdo">Báscula de ombro - Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Plano Horizontal</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.planoHorizontalOmbro" id="planoHorizontalOmbro[]" class="select2_demo_3 form-control" multiple data-placeholder="Rotação anterior de ombro">
                        <option value="Rotação Anterior do ombro - Direito">Rotação Anterior do ombro - Direito</option>
                        <option value="Rotação Anterior do ombro - Esquerdo">Rotação Anterior do ombro - Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.planoHorizontalPelve" id="planoHorizontalPelve[]" class="select2_demo_3 form-control" multiple data-placeholder="Rotação anterior de pelve">
                        <option value="Rotação Anterior do ombro - Direito">Rotação Anterior do ombro - Direito</option>
                        <option value="Rotação Anterior do ombro - Esquerdo">Rotação Anterior do ombro - Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Limitação da rotação da cabeça</label>
                    <div class="col-md-10">
                      <textarea required rows="3" v-model="avaliacaoPostural.limitacaoRotacaoCabeca" id="limitacaoRotacaoCabeca" placeholder="Flecha Occipital" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Diminuição da força dos extensores</label>
                    <div class="col-md-10">
                      <textarea required rows="3" v-model="avaliacaoPostural.limitacaoForcaExtensores" id="limitacaoForcaExtensores" placeholder="Diminuição da força dos extensores" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>
          
          <div id="tab-3" class="tab-pane">
            <div class="panel-body">
              <div class="form-group">
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Cervical </label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaCervicalEsquerdo" id="posturodinamicaCervicalEsquerdo" class="select2_demo_3 form-control" data-placeholder="Cervical Esquerda">
                        <option disabled selected>Cervical Esquerdo</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>

                      </select>
                    </div>
                  </div>
                </div>
                </div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaCervicalDireito" id="posturodinamicaCervicalDireito" class="select2_demo_3 form-control" data-placeholder="Cervical Direita">
                        <option disabled selected>Cervical Direito</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Torácica</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaToracicaEsquerdo" id="posturodinamicaToracicaEsquerdo" class="select2_demo_3 form-control" data-placeholder="Torácica Esquerda">
                        <option disabled selected>Torarica Esquerdo</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaToracicaDireito" id="posturodinamicaToracicaDireito" class="select2_demo_3 form-control" data-placeholder="Torácica Direita">
                        <option disabled selected>Torarica Direito</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Lombar</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaLombarEsquerdo" id="posturodinamicaLombarEsquerdo" class="select2_demo_3 form-control" data-placeholder="Lombar Esquerda">
                        <option disabled selected>Lombar Esquerdo</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaLombarDireito" id="posturodinamicaLombarDireito" class="select2_demo_3 form-control" data-placeholder="Lombar Direita">
                        <option disabled selected>Lombar Direito</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Pelve</label>
                    <div class="col-md-10">
                      <select required  v-model="avaliacaoPostural.posturodinamicaPelveEsquerdo" id="posturodinamicaPelveEsquerdo" class="select2_demo_3 form-control" data-placeholder="Pelve Esquerda">
                        <option disabled selected>Pelve Esquerdo</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.posturodinamicaPelveDireito" id="posturodinamicaPelveDireito" class="select2_demo_3 form-control" data-placeholder="Pelve Direita">
                        <option disabled selected>Pelve Direito</option>
                        <option value="Baixa">Baixa</option>
                        <option value="Média">Média</option>
                        <option value="Alta">Alta</option>
                      </select>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>
          <div id="tab-4" class="tab-pane">
            <div class="panel-body">
              <div class="form-group">
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Captor Podal</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.captorPodalInsuficienciaConvergencia" id="captorPodalInsuficienciaConvergencia" class="select2_demo_3 form-control" data-placeholder="Insuficiência de convergência">
                        <option disabled selected>Insuficiencia Convergencia</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.captorPodalConvergenciaReflexa" id="captorPodalConvergenciaReflexa" class="select2_demo_3 form-control" data-placeholder="Convergência reflexa">
                        <option disabled selected>Convergencia Reflexa</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.captorPodalOlhoDominante" id="captorPodalOlhoDominante" class="select2_demo_3 form-control" data-placeholder="Olho Dominante">
                        <option disabled selected>Olho Dominante</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.captorPodalCoverText" id="captorPodalCoverText" class="select2_demo_3 form-control" data-placeholder="Cover Test">
                        <option disabled selected>Cover Text</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Teste de Romberg</label>
                    <div class="col-md-10">
                      <textarea required rows="1" v-model="avaliacaoPostural.testeRomberg" id="testeRomberg" placeholder="Teste de Romberg" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.possuiPernaCurta" id="possuiPernaCurta" class="select2_demo_3 form-control" data-placeholder="Possui Perna Curta?">
                        <option>Selecione uma opção</option>
                        <option value="Possui">Possui</option>
                        <option value="Não Possui">Não Possui</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Teste de perna curta</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.fossetasMichaelis" id="fossetasMichaelis" class="select2_demo_3 form-control" data-placeholder="Fossetas de Michaelis e espinha ilíaca póstero-superior mais baixa">
                        <option disabled selected>Fossetas Michaelis</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.vistaTangencial" id="vistaTangencial" class="select2_demo_3 form-control" data-placeholder="Vista tangencial mais baixa">
                        <option disabled selected>Vista Tangencial</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.iliacoPosterior" id="iliacoPosterior" class="select2_demo_3 form-control" data-placeholder="Ilíaco posterior">
                        <option disabled selected>Iliaco Posterior</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.parametroMenor" id="parametroMenor" class="select2_demo_3 form-control" data-placeholder="Parâmetro Menor">
                        <option disabled selected>Parâmetro Menor</option>
                        <option value="Gibosidade contralateral">Gibosidade contralateral</option>
                        <option value="Gibosidade homolateral">Gibosidade homolateral</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.presencaPernaCurta" id="presencaPernaCurta" class="select2_demo_3 form-control" data-placeholder="Presença de perna curta">
                        <option disabled selected>Presença Perna Curta</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Direito">Direito</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Tamanho total da P.C</label>
                    <div class="col-md-10">
                      <textarea required rows="1" v-model="avaliacaoPostural.tamanhoPernaCurta" id="tamanhoPernaCurta" placeholder="Tamanho total da P.C" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Corrigir P.C</label>
                    <div class="col-md-10">
                      <textarea required rows="1" v-model="avaliacaoPostural.corrigirPernaCurta" id="corrigirPernaCurta" placeholder="Corrigir P.C" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Derrotação de Quadril</label>
                    <div class="col-md-10">
                      <textarea required rows="1" v-model="avaliacaoPostural.derrotacaoQuadrilDireito" id="derrotacaoQuadrilDireito" placeholder="Derrotação de Quadril Direito" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <textarea required rows="1" v-model="avaliacaoPostural.derrotacaoQuadrilEsquerdo" id="derrotacaoQuadrilEsquerdo" placeholder="Derrotação de Quadril Esquerdo" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
              </div>
            </div>
          </div>
          <div id="tab-5" class="tab-pane">
            <div class="panel-body">
              <div class="form-group">
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Abertura Bucal</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.aberturaBucal" id="aberturaBucal" class="select2_demo_3 form-control" data-placeholder="Abertura Bucal">
                        <option disabled selected>Abertura Bucal</option>
                        <option value="Com desvios - Direito">Com desvios - Direito</option>
                        <option value="Com desvios - Esquerdo">Com desvios - Esquerdo</option>
                        <option value="Sem desvios">Sem desvios</option>

                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.amplitudeBucal" id="amplitudeBucal" class="select2_demo_3 form-control" data-placeholder="Amplitude bucal">
                        <option disabled selected>Amplitude Bucal</option>
                        <option value="Diminuída">Diminuída</option>
                        <option value="Normal">Normal</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.ruidosArticulares" id="ruidosArticulares" class="select2_demo_3 form-control" data-placeholder="Ruídos articulares">
                        <option disabled selected>Ruidos Articulares</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                        <option value="Sem ruídos">Sem ruídos</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Alteração Crânio-Facial</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialOlhoMaisBaixo" id="alteracaoCranioFacialOlhoMaisBaixo" class="select2_demo_3 form-control" data-placeholder="Olho mais baixo">
                        <option disabled selected>Alteração Cranio Facial Olho mais Baixo</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialFissuraLabialMaisBaixa" id="alteracaoCranioFacialFissuraLabialMaisBaixa" class="select2_demo_3 form-control" data-placeholder="Fissura labial mais baixa">
                        <option disabled selected>Alteração Cranio Facial Fissura Labial Mais Baixa</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialLinhaVerticalMenor" id="alteracaoCranioFacialLinhaVerticalMenor" class="select2_demo_3 form-control" data-placeholder="Linha vertical menor">
                        <option disabled selected>Alteração Cranio Facial Linha Vertical Menor</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialMordidaCruzada" id="alteracaoCranioFacialMordidaCruzada" class="select2_demo_3 form-control" data-placeholder="Mordida cruzada">
                        <option disabled selected>Alteração Cranio Facial Mordida Cruzada</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialAusenciaDeDentes" id="alteracaoCranioFacialAusenciaDeDentes" class="select2_demo_3 form-control" data-placeholder="Ausencia de Dentes">
                        <option disabled selected>Alteração Cranio Facial Ausencia de Dentes</option>
                        <option value="Possui">Possui</option>
                        <option value="Não possui">Não possui</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialTemporaisMaisForte" id="alteracaoCranioFacialTemporaisMaisForte" class="select2_demo_3 form-control" data-placeholder="Teste dos temporais mais fortes">
                        <option disabled selected>Alteração Cranio Facial Tempora mais Forte</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.alteracaoCranioFacialFocosDentariosReatogenicos" id="alteracaoCranioFacialFocosDentariosReatogenicos" class="select2_demo_3 form-control" data-placeholder="Focos dentários reatogênicos">
                        <option disabled selected>Alteração Cranio Facial Focos Dentários Reatogenicos</option>
                        <option value="Existentes">Existentes</option>
                        <option value="Inexistentes">Inexistentes</option>
                        <option value="Direito">Direito</option>
                        <option value="Esquerdo">Esquerdo</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Heineken Teste</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.heinekenTeste" id="heinekenTeste" class="select2_demo_3 form-control" data-placeholder="Heineken Teste">
                        <option value="Houve melhora">Houve melhora</option>
                        <option value="Teste de retirada voltaram os desequilíbrios">Teste de retirada voltaram os desequilíbrios</option>
                        <option value="Não houve mudança">Não houve mudança</option>

                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <textarea required rows="1" v-model="avaliacaoPostural.microgalvanismos" id="microgalvanismos" placeholder="Microgalvanismos" class="form-control m-b"></textarea>
                    </div>
                  </div>
                </div>
</div>
              </div>
            </div>
          </div>
          <div id="tab-6" class="tab-pane">
            <div class="panel-body">
              <div class="form-group">
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Cicatrizes patológicas externas</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.cicatrizesExternas" id="cicatrizesExternas[]" class="select2_demo_3 form-control" data-placeholder="Cicatrizes patológicas externas" multiple>
                        <option value="Hipertrófica">Hipertrófica</option>
                        <option value="Retraída">Retraída</option>
                        <option value="Palidez">Palidez</option>
                        <option value="Hiperemia">Hiperemia</option>
                        <option value="Hipoestesia">Hipoestesia</option>
                        <option value="Hiperestesia">Hiperestesia</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Teste do pulso radial</label>
                    <div class="col-md-10">
                      <select required v-model="avaliacaoPostural.cicatrizesExternasPulso" id="cicatrizesExternasPulso" class="select2_demo_3 form-control" data-placeholder="Teste do pulso radial">
                        <option>Selecione uma opção</option>
                        <option value="Possui">Possui</option>
                        <option value="Não Possui">Não Possui</option>
                      </select>
                    </div>
                  </div>
                </div>
</div>
<div class="row">
                <div class="col-md-12">
                  <div class="form-group"><label class="col-md-2 control-label">Cicatrizes patológicas internas</label>
                    <div class="col-md-10">

                      <textarea required rows="1" v-model="avaliacaoPostural.cicatrizesInternasGeral" id="cicatrizesInternasGeral" placeholder="Ausculta geral" class="form-control m-b"></textarea>
                      <textarea required rows="1" v-model="avaliacaoPostural.cicatrizesInternasLocal" id="cicatrizesInternasLocal" placeholder="Ausculta local" class="form-control m-b"></textarea>


                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-md-offset-10">
                  <button class="btn btn-white" type="reset">Cancelar</button>
                  <button class="btn btn-primary" type="submit">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
    </form>
  </div>
  </div>
</section>
</template>

<script>
export default {
    name: 'cadastrarAvaliacaoPostural',
    data: function () {
      return {
        avaliacaoPostural: {}
      }
    },
    computed: {
      paciente () {
        return this.$store.state.paciente.pacienteView
      }
  },
  methods: {
    save() {
      var tratamentoDentario = this.avaliacaoPostural['tratamentoDentario'].toString()
      var temDores = this.avaliacaoPostural['temDores'].toString()
      var doresFrequentes = this.avaliacaoPostural['doresFrequentes'].toString()
      var planoFrontalOmbro = this.avaliacaoPostural['planoFrontalOmbro'].toString()
      var planoFrontalPelve = this.avaliacaoPostural['planoFrontalPelve'].toString()
      var planoHorizontalOmbro = this.avaliacaoPostural['planoHorizontalOmbro'].toString()
      var planoHorizontalPelve = this.avaliacaoPostural['planoHorizontalPelve'].toString()
      var cicatrizesExternas = this.avaliacaoPostural['cicatrizesExternas'].toString()

      this.avaliacaoPostural['tratamentoDentario'] = tratamentoDentario
      this.avaliacaoPostural['temDores'] = temDores
      this.avaliacaoPostural['doresFrequentes'] = doresFrequentes
      this.avaliacaoPostural['planoFrontalOmbro'] = planoFrontalOmbro
      this.avaliacaoPostural['planoFrontalPelve'] = planoFrontalPelve
      this.avaliacaoPostural['planoHorizontalOmbro'] = planoHorizontalOmbro
      this.avaliacaoPostural['planoHorizontalPelve'] = planoHorizontalPelve
      this.avaliacaoPostural['cicatrizesExternas'] = cicatrizesExternas
      this.avaliacaoPostural['paciente_id'] = this.paciente.data.id

      //console.log(this.avaliacaoPostural)
      this.$store.dispatch('newAvaliacaoPostural', this.avaliacaoPostural).then(() => {
        this.$router.push('/pacientes')
      })
    }
  }
}

</script>

<style>

</style>
