<template>
  
  <header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>D</b>HL</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Doc</b>HELP</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="/static/img/avatar5.png" class="user-image" alt="User Image">
              <span class="hidden-xs">{{usuario.nome}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="/static/img/avatar5.png" class="img-circle" alt="User Image">

                <p>
                  {{usuario.nome}} - {{usuario.cargo}}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a @click="handleLogout()" class="btn btn-default btn-flat">Sair</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import { logout } from '../Login/interceptors';
export default {
    name: 'headerComp',
    computed: {
    usuario () {
      return this.$store.state.usuario.usuarioList
    }
  },
    created () {
    this.$store.dispatch('getUsuario')
  },
    methods: {
    handleLogout(router) {
      logout(router);
    }
  }

}
</script>

<style>

</style>
