<template>
  <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
</template>

<script>
export default {
    name: 'pagination',
    props: [
        'totalPerPage',
        'resource'
    ],
    created () {
        this.$store.dispatch(this.resource)
    }

}
</script>
