<template>
    <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/static/img/avatar5.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{{usuario.nome}}</p>
          <small>{{usuario.cargo}}</small>
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="#/pacientes"><i class="fa fa-users"></i> <span>Pacientes</span></a></li>
      </ul>
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="#/funcionarios"><i class="fa fa-users"></i> <span>Funcionários</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
export default {
    name: 'sidebar',
    computed: {
    usuario () {
      return this.$store.state.usuario.usuarioList
    }
  }

}
</script>

<style>

</style>
