<template>
<div class="hold-transition login-page" id="login"> 
  <div class="login-box">
  <div class="login-logo">
    <a href=""><b>Doc</b>HELP</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Inicie sua sessão</p>

    <form @submit.prevent="login">
      <div class="form-group has-feedback">
        <input v-model="funcionario.username" type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input v-model="funcionario.password" type="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
</div>
</template>

<script>
import { CONFIG } from './../../config'
import Vue from 'vue'

export default {
    name: 'login',
    data: function () {
        return{
            funcionario: {}
        }
    },
    methods: {
        login: function (){
            let data = {
                grant_type: 'password',
                client_id: CONFIG.client_id,
                client_secret: CONFIG.client_secret,
                username: this.funcionario.username,
                password: this.funcionario.password
            }
            //console.log(data)
        
        Vue.http.post('oauth/token', data).then(res => {
            localStorage['token'] = JSON.stringify(res.body)
            this.$router.push('/pacientes')
        })

        }
        
    }
}
</script>


<style>
#login{
    background-color: #eee !important;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    padding: 20px;
}
</style>
