<template>
  <p>saiu</p>
</template>

<script>
import LoginInterceptors from './interceptors'

export default {
    name: 'logout',
    created (){
        localStorage['token'] = []
        LoginInterceptors.login(router)
    }
}
</script>


