<template>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

<headerComp></headerComp>
  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <sidebar></sidebar>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-view></router-view>
    <!-- Content Header (Page header) -->
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Versão</b> 1.0
    </div>
    <strong>Copyright &copy; 2018 <a href="https://adminlte.io">DocHelp</a>.</strong> All rights
    reserved.
  </footer>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
</div>
</body>
</template>

<script>
import Sidebar from '../src/components/SharedComponents/Sidebar'
import HeaderComp from '../src/components/SharedComponents/HeaderComp'

import 'va/lib/css'
import 'va/lib/script'
export default {
  name: 'App',
  components: {
    'sidebar': Sidebar,
    'headerComp': HeaderComp
  }
}
</script>

<style>
</style>
